*{
    margin: auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}
#n1{
    height: 300px;
    width: 20%;
    background-color: aquamarine;
    float: left;
}
#n2{
    height: 300px;
    width: 20%;
    background-color: rgb(29, 70, 56);
    float: left;
}
aside{
    height: 600px;
    float: right;
    width: 20%;
    background-color: chocolate;
}
main{
    height: 600px;
    float: right;
    width: 30%;
    background-color: cadetblue;
}
section{
    height: 600px;
    float: right;
    width: 30%;
    background-color: rgb(95, 99, 160);
}

footer{
    clear: both;
    height: 50px;
    float: left;
    width: 100%;
    background-color: darkgray;
}